*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body
{
    background-image:url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdGVsfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size:cover;
}
.signup
{
    /* margin-top: 30px; */
    margin-left:500px;
    width:50%;
    height:500px;
    /* background-color: skyblue; */
}
.page
{
    font-family:Arial;
    margin-left:10px;
    /* text-align:center; */
    font-weight:bold;
    font-size:30px;
    padding-top:20px;
}
input{
    height:40px;
    width:80%;
}
.btn 
{
    height:50px;
    background-color:rgba(0,0,0,0.2);
    width:100px;
    color:white;
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
    border:none;
    border-radius:5px;
}
.btn
{
    background-color:rgba(0,0,0,0.2);
    width:100px;
}
a{
    text-decoration: none;
    color:white;
}
.page {
    background: rgba(0, 0, 0, 0.3); /* transparent black */
    backdrop-filter: blur(8px);
    text-align:center;
    margin-right:50px;
    margin-top:40px;
}